@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  background-color: #dda0dd;
}

body {
  height: 100%;
  min-height: 100vh;
  margin: 20px;
  background-color: #ddd6fe;
  color: #a78bfa;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo,
    sans-serif;
}
